In [2]:
import numpy as np

## Pandas

<a href = 'https://meli.udemy.com/course/python-for-machine-learning-data-science-masterclass/learn/lecture/17772980#content'>Aula introdutória</a>

<a href = 'https://pandas.pydata.org/docs/getting_started/overview.html'>Doc Pandas</a>

Está entre os mais utilizados no Python devido a sua utilidade para realizar análise de dados pelo seu desempenho e capacidade de simplificar tarefas complicadas e manipulação de dados. Fornece estruturas de dados rápidas, flexíveis e expressivas, projetadas para facilitar o trabalho com dados esruturados (tabulares, multidimensionais, potencialmente heterogêneos) e de séries temporais.

In [3]:
import pandas as pd

### Panda Series

<a href= 'https://meli.udemy.com/course/python-for-machine-learning-data-science-masterclass/learn/lecture/17772982#content'>Aula01 Pandas Series</a>

<a href= 'https://meli.udemy.com/course/python-for-machine-learning-data-science-masterclass/learn/lecture/22971096#content'>Aula02 Pandas Series</a>

<a href= 'https://pandas.pydata.org/docs/reference/series.html'>Doc Pandas Series</a>

São matrizes unidimensionais rotuladas capazes de armazenar dados de qualquer tipo.
Os rótulos dos eixos são chamados coletivamente de índices. Suporta tanto a indexação inteira, quanto a baseada em rótulo e fornece uma série de métodos para executar operações envolvendo o índice.

Um Séries pode ser criada a partir de um array ou a partir de um dicionario.

In [ ]:
# Ao aplicar o método Series em um array, faz-se necessário identificar os parametros data e index, conforme
# solicitados em sua assinatura inicial(para ver assinatura, digite o método e clique em shift - tab). 
# Veja abaixo:

Init signature:
pd.Series(
    data=None,
    index=None,
    dtype: 'Dtype | None' = None,
    name=None,
    copy: 'bool' = False,
    fastpath: 'bool' = False,
)

In [46]:
np_data = np.array([1776, 1500, 1821])
np_index = np.array(['USA', 'BRA', 'MEX'])

np_array_series = pd.Series(data = np_data, index = np_index)
#opcionalmente basta colocar o data e o index na posição correta
#pd.Series(np_data, np_index), ou ainda, mantendo a ordem, pd.Series([1776, 1500, 1821], ['USA', 'BRA', 'MEX'])

np_array_series

USA    1776
BRA    1500
MEX    1821
dtype: int64

In [47]:
#Series a partir de um dicionário, automaticamente, a lib ja associa 
#a chave ao index e o valor ao data.

np_dict = {'USA': 1776, 'BRA': 1500, 'MEX': 1821}
np_dict_series = pd.Series(np_dict)
np_dict_series
# opcionalmente podemo escrever pd.Series({'USA': 1776, 'BRA': 1500, 'MEX': 1821})

USA    1776
BRA    1500
MEX    1821
dtype: int64

In [41]:
# para acessar qualquer valor de Series podemos acessar pelo indice numérico, porem precisariamos 
# memorizar cada valor de cada índice. Então podemos pegar pela chave, que neste caso corresponde ao índice rotulado.

np_array_series['BRA']

1500

In [42]:
np_dict_series['MEX']

1821

In [48]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company

q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [7]:
sales_q1 = pd.Series(q1)
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [11]:
sales_q2 = pd.Series(q2)
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [14]:
# para sabermos qual o nome correto dos indices rotulados - chaves - pois os mesmos sao case sensitive, 
# podemos acessá-las da forma abaixo.
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [22]:
# se quiséssemos criar uma soma dos dois primeiros trimestres, poderíamos simplesmente juntar as duas tabelas correto?
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [27]:
#Como vimos, os dados que nao estavam presentes em um dos quarters, foi devolvido NaN, pois estamos tentando 
#somar algo inexistente. O correto seria, criar as chaves que nao existem nos quarters necessarios e inicia-los
#com zero. Mas podemos fazer isso, sem a necessidade de criá-los manualmente.

sales_half_year = sales_q1.add(sales_q2, fill_value=0) 
#estamos dizendo: adiciona o q2 no q1 e os inexistente, independente do quarter, preencha com zero.

sales_half_year

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [29]:
#por padrão serão devolvidos os valores em float, sendo que originalmente são integers, mas podemos convertê-los.

sales_half_year.astype(dtype='int64')

Brazil    100
China     950
India     410
Japan      80
USA       510
dtype: int64